name: actions CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read # access to check out code and install dependencies

env:
  WORKING_DIRECTORY: .github/workflows

jobs:
  check:
    name: Check GitHub actions
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory:  ${{ env.WORKING_DIRECTORY }}/
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Download actionlint
        id: download-actionlint
        run: bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)
        shell: bash
      - name: Run checks
        run: ${{ steps.download-actionlint.outputs.executable }} -color
        shell: bash