name: browser-extension CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read # access to check out code and install dependencies

env:
  WORKING_DIRECTORY: browser-extension

jobs:
  check-and-build:
    name: Check and build npm project
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ env.WORKING_DIRECTORY }}/
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup bun package manager
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install dependencies
        run: bun install
      - name: Run checks
        run: bun run check
      - name: Run build
        run: bun run build