name: evaluation CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read # access to check out code and install dependencies

env:
  WORKING_DIRECTORY: evaluation

jobs:
  check:
    name: Check uv project
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory:  ${{ env.WORKING_DIRECTORY }}/
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install uv
        uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v7.2.1
      - name: Setup python
        id: setup-python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version-file: ${{ env.WORKING_DIRECTORY }}/pyproject.toml
      - name: Install dev dependencies
        run: uv sync --only-dev
      - name: Run checks
        run: uv run ruff check . && uv run pyrefly check