name: evaluation CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read # access to check out code and install dependencies

env:
  WORKING_DIRECTORY: evaluation

jobs:
  check:
    name: Check uv project
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory:  ${{ env.WORKING_DIRECTORY }}/
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
      - name: Setup python
        id: setup-python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version-file: ${{ env.WORKING_DIRECTORY }}/pyproject.toml
      - name: Install dev dependencies
        run: uv sync --only-dev
      - name: Run checks
        run: uv run ruff check . && uv run pyrefly check